/* #Typography

Basic styling of typography.

*/

@import url(http://fonts.googleapis.com/css?family=Roboto:900,500,100,300);

$thin: 'Griffith Gothic Thin', 'Roboto', sans-serif;
$light: 'Griffith Gothic Light', 'Roboto', sans-serif;
$bold: 'Griffith Gothic', 'Roboto', sans-serif;
$bolder: 'Griffith Gothic Black', 'Roboto', sans-serif;

@mixin DeckThin {
  font-family: 'Griffith Gothic Thin', 'Bell Gothic W01 Light', 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 100;
}

@mixin DeckLight {
  font-family: 'Griffith Gothic Light', 'Bell Gothic W01 Light', 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
}

@mixin DeckBold {
  font-family: 'Griffith Gothic', 'Bell Gothic W01 Bold_691903', 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
}

@mixin DeckBlack {
  font-family: 'Griffith Gothic Black', 'Bell Gothic W01 Black_691900', 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
}



.griffithgothicblack {
  font-family: "Griffith Gothic Black";
  font-style: normal;
  font-weight: normal;
}

.griffithgothicblackitalic {
  font-family: "Griffith Gothic Black";
  font-style: italic;
  font-weight: normal;
}

.griffithgothicbold {
  font-family: "Griffith Gothic";
  font-style: normal;
  font-weight: bold;
}

.griffithgothicbolditalic {
  font-family: "Griffith Gothic";
  font-style: italic;
  font-weight: bold;
}

.griffithgothiclight {
  font-family: "Griffith Gothic Light";
  font-style: normal;
  font-weight: normal;
}

.griffithgothiclightitalic {
  font-family: "Griffith Gothic Light";
  font-style: italic;
  font-weight: normal;
}

.griffithgothicregular {
  font-family: "Griffith Gothic";
  font-style: normal;
  font-weight: normal;
}

.griffithgothicregularitalic {
  font-family: "Griffith Gothic";
  font-style: italic;
  font-weight: normal;
}

.griffithgothicthin {
  font-family: "Griffith Gothic Thin";
  font-style: normal;
  font-weight: normal;
}

.griffithgothicthinitalic {
  font-family: "Griffith Gothic Thin";
  font-style: italic;
  font-weight: normal;
}

.griffithgothicultra {
  font-family: "Griffith Gothic Ultra";
  font-style: normal;
  font-weight: normal;
}

.griffithgothicultraitalic {
  font-family: "Griffith Gothic Ultra";
  font-style: italic;
  font-weight: normal;
}


