/* #Typography

Basic styling of typography.

*/

$thin: 'Griffith Gothic Thin';
$light: 'Griffith Gothic Light';
$bold: 'Griffith Gothic';
$bolder: 'Griffith Gothic Black';



.griffithgothicblack {
  font-family: "Griffith Gothic Black";
  font-style: normal;
  font-weight: normal;
}

.griffithgothicblackitalic {
  font-family: "Griffith Gothic Black";
  font-style: italic;
  font-weight: normal;
}

.griffithgothicbold {
  font-family: "Griffith Gothic";
  font-style: normal;
  font-weight: bold;
}

.griffithgothicbolditalic {
  font-family: "Griffith Gothic";
  font-style: italic;
  font-weight: bold;
}

.griffithgothiclight {
  font-family: "Griffith Gothic Light";
  font-style: normal;
  font-weight: normal;
}

.griffithgothiclightitalic {
  font-family: "Griffith Gothic Light";
  font-style: italic;
  font-weight: normal;
}

.griffithgothicregular {
  font-family: "Griffith Gothic";
  font-style: normal;
  font-weight: normal;
}

.griffithgothicregularitalic {
  font-family: "Griffith Gothic";
  font-style: italic;
  font-weight: normal;
}

.griffithgothicthin {
  font-family: "Griffith Gothic Thin";
  font-style: normal;
  font-weight: normal;
}

.griffithgothicthinitalic {
  font-family: "Griffith Gothic Thin";
  font-style: italic;
  font-weight: normal;
}

.griffithgothicultra {
  font-family: "Griffith Gothic Ultra";
  font-style: normal;
  font-weight: normal;
}

.griffithgothicultraitalic {
  font-family: "Griffith Gothic Ultra";
  font-style: italic;
  font-weight: normal;
}


